<div class="container">
  <div class="row">
    <h2>Bookmark一覧</h2>
  </div>
  <% @bookmark.each do |bookmark| %>
    <div class="row mt-5 mb-3 pt-4 pb-2 farm-index shadow">
      <div class="col-sm-12 col-md-5 ">
        <p class="pl-3 pr-2">
          <%= link_to farmer_farm_path(bookmark.farm), class: "link-color" do %>
            <%= attachment_image_tag bookmark.farm, :image, format: 'jpeg', class: "w-100" %>
          <% end %>
        </p>
      </div>
      <div class="col-sm-12 col-md-7 ">
        <%= link_to farmer_farm_path(bookmark.farm), class: "link-color" do %>
          <div class="row">
            <div class="col-4">
              <p>農場名</p>
            </div>
            <div class="col-8">
              <p><%= bookmark.farm.name %></p>
            </div>
          </div>
          
          <div class="row">
            <div class="col-4">
              <p>農場住所</p>
            </div>
            <div class="col-8">
              <p><%= bookmark.farm.full_address %></p>
            </div>
          </div>
          
          <div class="row">
            <div class="col-4">
              <p>栽培品目</p>
            </div>
            <div class="col-8">
              <p><% bookmark.farm.cultivated_items.pluck(:name).each do |item| %>
                  <%= item %>&nbsp;
                <% end %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
               <p>栽培品目例</p>
            </div>
            <div class="col-8">
              <p><%= bookmark.farm.breed %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>