<h4>マイページの編集</h4>

<%= form_with model: @public, local: true do |f| %>
  <table>
    <tbody>
      <tr>
        <td><%= f.label :名前 %></td>
        <td>姓</td>
        <td><%= f.text_field :last_name %></td>
        <td>名</td>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td><%= f.label :フリガナ %></td>
        <td>セイ</td>
        <td><%= f.text_field :last_name_kana %></td>
        <td>メイ</td>
        <td><%= f.text_field :first_name_kana %></td>
      </tr>
      <tr>
        <td><%= f.label :メールアドレス %></td>
        <td></td>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><%= f.submit "更新する" %></td>
      </tr>
    </tbody>
  </table>
<% end %>