<div class="container">
  <div class="row">
      <h3>マイページ</h3>
  </div>
    <div class="row mb-2 justify-content-center">
      <div class="col-md-3">
          <p>名前 :</p>
          <p>フリガナ :</p>
          <p>メールアドレス :</p>
      </div>
      <div class="col-md-3">
        <p>
          <%= @customer.last_name %> <%= @customer.first_name %>
        </p>
        <p>
          <%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
        </p>
        <p>
          <%= @customer.email %>
        </p>
      </div>
    </div>
    <div class="row mb-3 justify-content-center">
      <div class="col-md-6">
        <%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-block text-light mb-2 btn-color" %>
      </div>
    </div>
    <div class="row mb-3 justify-content-center">
      <div class="col-md-6">
        <%= link_to "Bookmark一覧", public_bookmark_path, class: "btn btn-block text-light mb-4 btn-color" %>
      </div>
    </div>
</div>

