<h4>マイページ</h4>

<table>
  <tbody>
    <tr>
      <td>名前</td>
      <td>姓</td>
      <td><%= current_public.last_name %></td>
      <td>名</td>
      <td><%= current_public.first_name %></td>
    </tr>
    <tr>
      <td>フリガナ</td>
      <td>セイ</td>
      <td><%= current_public.last_name_kana %></td>
      <td>メイ</td>
      <td><%= current_public.first_name_kana %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td></td>
      <td><%= current_public.email %></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><%= link_to "編集する", edit_customers_path(current_public) %></td>
    </tr>
  </tbody>
</table>