<% farms.each do |farm| %>

  <div class="row mt-5 mb-3 pt-4 pb-2 farm-index">
    <div class="col-5">
      <p class="pl-3"><%= attachment_image_tag farm, :image, size: '370x260', format: 'jpeg' %></p>
    </div>
    <div class="col-7">
      <div class="row">
        <div class="col-3">
          <p>農場名</p>
          <p>農場住所</p>
          <p>栽培品目</p>
          <p>栽培品目例</p>
        </div>
        <div class="col-9">
          <p>
            <%= link_to farmer_farm_path(farm.id), class: "link-color" do %>
              <%= farm.name %>
            <% end %>
          </p>
          <p><%= farm.full_address %></p>
          <p><% farm.cultivated_items.pluck(:name).each do |item| %>
            <%= item %>&nbsp;
          <% end %>
          </p>
          <p><%= farm.breed %></p>
          <p>
            <% if public_signed_in? %>
            <div id="favorite_<%= farm.id %>">
              <span class="inline-block">応援ボタン</span>
                <span class="thumbs-up"><%= render 'farmer/favorites/favorite', farm: farm %></span>
            </div>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>

<% end %>