
<div class="container">
  <div class="row mt-5 mb-2">
      <h3>登録農場情報の編集</h3>
  </div>
    <%= form_with model: @farm, url: farmer_farm_update_path, local: true do |f| %>
        <div class="row mb-2 justify-content-center">
          <table>
            <tr>
              <td><%= f.label :画像 %></td>
              <td><%= f.attachment_field :image %></td>
            </tr>
            <tr>
              <td><%= f.label :農場名 %></td>
              <td><%= f.text_field :name, class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :経営者 %></td>
              <td><%= f.text_field :manager, class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :郵便番号 %></td>
              <td><%= f.text_field :post_code, class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :都道府県 %></td>
              <td><%= f.text_field :prefecture, class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :市区町村 %></td>
              <td><%= f.text_field :city, class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :番地・建物名 %></td>
              <td><%= f.text_field :house_number, class: "form-control" %></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <%= f.collection_check_boxes(:cultivated_item_ids, CultivatedItem.all, :id, :name) do |b| %>
                  <%= b.label { b.check_box + b.text } %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "農場情報を更新する", class: "btn btn-block text-light mb-4 btn-color" %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= link_to "農場情報を削除する", farmer_farm_path(@farm), method: :delete, "data-confirm" => "本当に削除しますか。", class: "btn btn-block text-light mb-4 btn-color" %>
            </td>
            </tr>
          </table>
      <% end %>
    </div>
</div>