<div class="container">
  <div class="row mt-5 mb-2">
      <h3>農場について</h3>
  </div>

  <div class="farm-image mt-5">
    <%= attachment_image_tag @farm, :image, size: "640x427", class: "d-block mx-auto" %>
  </div>

  <div class="farm-info mt-5">
    <h4 class="text-center">農家さん</h4>

      <table class="border table-borderless mx-auto">
        <tr>
          <th>農場名</th>
          <td><%= @farm.name %></td>
        </tr>
        <tr>
          <th>経営者</th>
          <td><%= @farm.manager %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @farm.full_address %></td>
        </tr>
        <tr>
          <th>栽培品目</th>
          <td><%= @farm.variety %></td>
        </tr>
        <tr>
          <th>栽培品目例</th>
          <td><%= @farm.breed %></td>
        </tr>
        <tr>
          <th>購入方法</th>
          <td><%= @farm.purchasing_method %></td>
        </tr>
        <tr>
          <th>コンタクト</th>
          <td><%= @farm.contact %></td>
        </tr>
      </table>
  </div>

  <div class="farm-description mt-5">
    <h4 class="text-center">農場について</h4>
    <table class="border table-borderless mx-auto">
      <tr>
        <th>農場説明</th>
        <td></td>
      </tr>
      <tr>
        <td><%= @farm.description %></td>
      </tr>
    </table>
  </div>
  
  <div class="row mb-2 justify-content-center">
    <div class="col-6">
      <div class="form-outline">
        <% if public_signed_in? %>
          
          <div class="favorite-btn">
            <div id="favorite_<%= @farm.id %>">
              <span>応援ボタン</span>
              <div class="thumbs-up"><%= render 'farmer/favorites/favorite', farm: @farm %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="row mb-2 justify-content-center">
    <div class="col-6">
      <div class="form-outline">
        <% if public_signed_in? %>
          <div id="bookmark_<%= @farm.id %>">
            <span>Bookmark</span>
            <div class="bookmark-save"><%= render 'farmer/bookmarks/bookmark', farm: @farm %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mb-2 justify-content-center">
    <div class="col-6">
      <div class="form-outline">
        <% if farmer_signed_in? %>
          <% if @farm.id == current_farmer.id %>
            <%= link_to "登録農場情報の編集", edit_farmer_farm_path(@farm), class: "btn btn-block text-light mb-4 btn-color" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>