<div class="container">
  <h2>農場詳細</h2>
  
  <div class="farm-image">
    <%= attachment_image_tag @farm, :image, size: "300x300" %>
  </div>
  
  <div class="farm-info">
    <h6>農場について</h6>
    <div class="farm-about">
      <p>農場名</p><%= @farm.name %>
      <p>経営者</p><%= @farm.manager %>
      <p>住所</p><%= @farm.post_code %>
      <p>栽培品目</p><%= @farm.variety %>
      <p>栽培品目例</p><%= @farm.breed %>
      <p>購入方法</p><%= @farm.purchasing_method %>
      <%= @farm.contact %>
    </div>
  </div>
  
  <div class="farm-description">
    <h6>農園説明</h6>
    <%= @farm.description %>
  </div>
  
  <%# if @farm.id == current_farmer.id %>
    <%= link_to "登録農場情報の編集", edit_farmer_farm_path(@farm) %>
  <%# end %>
</div>