<div class="container">
  <div class="row mt-5 mb-2">
      <h3>農場について</h3>
  </div>

  <div class="row mt-4">
    <div class="col-5 pt-4">
      <%= attachment_image_tag @farm, :image, size: "400x300", class: "d-block mx-auto" %>


      <% if public_signed_in? %>
        <div class="favorite-btn mt-4 pl-4">
          <div id="favorite_<%= @farm.id %>">
            <span>応援ボタン</span>
            <span class="thumbs-up"><%= render 'farmer/favorites/favorite', farm: @farm %></span>
          </div>
        </div>
      <% end %>

      <% if public_signed_in? %>
      <div class="favorite-btn mt-3 pl-4">
        <div id="bookmark_<%= @farm.id %>">
          <span>ブックマーク</span>
          <span class="bookmark-save"><%= render 'farmer/bookmarks/bookmark', farm: @farm %></span>
        </div>
      </div>
      <% end %>


    </div>
    <div class="col-7 farm-index pt-4">
      <h5>農家情報</h5>
      <div class="row mt-3">
        <div class="col-3">
          <p>農家名</p>
          <p>経営者</p>
          <p>住所</p>
          <p>栽培品目</p>
          <p>栽培品目例</p>
          <p>購入方法</p>
          <p>コンタクト</p>
        </div>
        <div class="col-9">
          <p><%= @farm.name %></p>
          <p><%= @farm.manager %></p>
          <p><%= @farm.full_address %></p>
          <p>
            <% @varieties.each do |variety| %>
              <%= variety %>,
            <% end %>
          </p>
          <p><%= @farm.breed %></p>
          <p><%= @farm.purchasing_method %></p>
          <p><%= @farm.contact %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 ">
    <div class="col-5"></div>
    <div class="col-7 farm-index pt-4">
      <h5>農家について</h5>
      <div class="row mt-3">
        <div class="col-3">
          <p>農場説明</p>
        </div>
        <div class="col-9">
          <%= @farm.description %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <% if public_signed_in? %>
      <div class="col-5"></div>
      <div class="col-7 farm-index pt-4">
        <h5>コメント</h5>
        <% @farm.post_comments.each do |post_comment| %>
          <div class="row mt-3">
            <div class="col-3">
              <p><%= post_comment.public.last_name %>さん</p>
              <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
            </div>
            <div class="col-9">
              <%= post_comment.comment %>
              <div class="row display justify-center">
                <div class="col-4">
                  <% if post_comment.public_id = current_public.id %>
                    <p><%= link_to "コメント削除", farmer_farm_post_comment_path(post_comment.farm_id, post_comment.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-block btn-sm text-light btn-destroy" %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-5"></div>
      <div class="col-7 farm-index pt-4">

        <%= form_with model:[@farm, @post_comment], url: farmer_farm_post_comments_path(@farm), local: true do |f| %>
          <%= f.text_area :comment, cols: '60', rows: '3', placeholder: "コメント記入" %>
          <%= f.submit "送信", class: "btn btn-block text-light mb-4 btn-color" %>
      <% end %>
    <% end %>
    </div>
  </div>

  <div class="row mb-2 justify-content-center">
    <div class="col-3">
      <div class="form-outline">
        <% if farmer_signed_in? %>
          <% if @farm.farmer_id == current_farmer.id %>
            <%= link_to "登録農場情報の編集", edit_farmer_farm_path(@farm), class: "btn btn-block text-light mb-4 btn-color" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>