<div class="container">
  <h2>新規会員登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "farmer/shared/error_messages", resource: resource %>

       <table class="mx-auto">
        <tbody>
          <tr>
            <td><%= f.label :名前 %></td>
        　　<td>姓</td>
        　　<td><%= f.text_field :last_name %></td>
        　　<td>名</td>
        　　<td><%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <td><%= f.label :フリガナ %></td>
            <td>セイ</td>
            <td><%= f.text_field :last_name_kana %></td>
            <td>メイ</td>
            <td><%= f.text_field :first_name_kana %></td>
          </tr>
          <tr>
            <td><%= f.label :メールアドレス %></td>
            <td></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <td><%= f.label :パスワード %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> 文字以上)</em>
                <% end %><br />
            </td>
            <td></td>
            <td><%= f.password_field :password, autocomplete: "new-password" %></td>
          </tr>
          <tr>
            <td><%= f.label :パスワード確認 %></td>
            <td></td>
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td> <%= f.submit "新規登録する" %></td>
          </tr>
        </tbody>
      </table>
    <% end %>

    <h4>既に登録済みの方</h4>
      <%= render "farmer/shared/links" %>

</div>