<div id="box">
  <div id="top-images">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
  </div>
</div>

<div class="container">
    <div class="row mb-3 mt-5">
      <h4 class="ml-5"><strong>農家を探している方</strong></h4>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-2">
          <%= link_to new_public_registration_path do %>
            <i class="fas fa-user-plus fa-5x fa-green"></i><br>
          <% end %>
          <%= link_to "新規会員登録", new_public_registration_path %>
        </div>
        <div class="col-2 ml-5">
          <%= link_to new_public_session_path do %>
            <i class="fas fa-sign-in-alt fa-5x fa-green"></i><br>
          <% end %>
          <%= link_to "ログイン", new_public_session_path %>
        </div>
    </div>

    <div class="row mb-3 mt-5">
      <h4 class="ml-5"><strong>農家さん</strong></h4>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="col-2 mb-5">
          <%= link_to new_farmer_registration_path do %>
              <i class="fas fa-user-plus fa-5x fa-green"></i><br>
            <% end %>
          <%= link_to "新規会員登録", new_farmer_registration_path %>
        </div>
        <div class="col-2 ml-5 mb-5">
          <%= link_to new_farmer_session_path do %>
            <i class="fas fa-sign-in-alt fa-5x fa-green"></i><br>
          <% end %>
          <%= link_to "ログイン", new_farmer_session_path %>
        </div>
    </div>
</di>