<div id="box">
  <div id="top-images">
    <div class="image1">
      <div class="top-text">
        <p><strong>お気に入りの農家を探そう</strong></p>
          <%= form_with url: search_path, method: :get, local: true do |f| %>
            <div class="input-group">
              <%= f.text_field :search, placeholder: "農家を検索", class: "form-control form-control mr-1" %>
              <%= f.submit "検索", class: "btn btn-outline-light" %>
            </div>
          <% end %>
      </div>
    </div>
    <div class="image2">
      <div class="top-text">
        <p><strong>お気に入りの農家を探そう</strong></p>
        <%= form_with url: search_path, method: :get, local: true do |f| %>
            <div class="input-group">
              <%= f.text_field :search, placeholder: "農家を検索", class: "form-control form-control mr-1" %>
              <%= f.submit "検索", class: "btn btn-outline-light" %>
            </div>
          <% end %>
      </div>
    </div>
    <div class="image3">
      <div class="top-text">
        <p><strong>お気に入りの農家を探そう</strong></p>
        <%= form_with url: search_path, method: :get, local: true do |f| %>
            <div class="input-group">
              <%= f.text_field :search, placeholder: "農家を検索", class: "form-control form-control mr-1" %>
              <%= f.submit "検索", class: "btn btn-outline-light" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-3 mt-5">
    <h4><strong>新着農家情報</strong></h4>
  </div>

  <div class="row justify-content-center">
    <% @farms.each do |farm| %>
      <div class="col-md-5 col-10 farm-index shadow pt-4 mr-1 ml-1 mb-3">
        <%= link_to farmer_farm_path(farm.id), class: "link-color" do %>
          <%= attachment_image_tag farm, :image,format: 'jpeg', class: "w-100 h-70" %>
          <p>農場名：<%= farm.name %></p>
          <p>農場住所：<%= farm.full_address %><br>
            </p>
          <p>栽培品目例：<%= farm.breed %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
    <div class="row mb-3 mt-5">
      <h4><strong>農家を探している方</strong></h4>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-md-2 col-12">
          <%= link_to new_public_registration_path do %>
            <i class="fas fa-user-plus fa-5x fa-green"></i><br>
          <% end %>
          <%= link_to "新規会員登録", new_public_registration_path, class: "link-color" %>
        </div>
        <div class="col-md-2 col-12">
          <%= link_to new_public_session_path do %>
            <i class="fas fa-sign-in-alt fa-5x fa-green"></i><br>
          <% end %>
          <%= link_to "ログイン", new_public_session_path, class: "link-color" %>
        </div>
    </div>

    <div class="row mb-3 mt-5">
      <h4><strong>農家さん</strong></h4>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="col-md-2 col-sm-12 mb-5">
          <%= link_to new_farmer_registration_path do %>
              <i class="fas fa-user-plus fa-5x fa-green"></i><br>
            <% end %>
          <%= link_to "新規会員登録", new_farmer_registration_path, class: "link-color" %>
        </div>
        <div class="col-md-2 col-sm-12 mb-5">
          <%= link_to new_farmer_session_path do %>
            <i class="fas fa-sign-in-alt fa-5x fa-green"></i><br>
          <% end %>
          <%= link_to "ログイン", new_farmer_session_path, class: "link-color" %>
        </div>
    </div>
</di>