  <div class="container">
    <div class="row">
        <h3><%= @customer.last_name %>さんマイページ</h3>
    </div>

    <div class="row mb-2 justify-content-center">
      <div class="col-md-2">
        <p>名前 : </p>
      </div>
      <div class="col-md-2">
          <p>
            <%= @customer.last_name %> <%= @customer.first_name %>
          </p>
      </div>
    </div>
    <div class="row mb-2 justify-content-center">
      <div class="col-md-2">
        <p>フリガナ :</p>
      </div>
      <div class="col-md-2">
        <p>
          <%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
        </p>
      </div>
    </div>
    <div class="row mb-2 justify-content-center">
      <div class="col-md-2">
        <p>メールアドレス :</p>
      </div>
      <div class="col-md-2">
        <p>
          <%= @customer.email %>
        </p>
      </div>
    </div>
    <div class="row mb-3 justify-content-center">
      <div class="col-md-6">
        <%= link_to "編集する", edit_farmer_customer_path(@customer), class: "btn btn-block text-light mb-2 btn-color" %>
      </div>
    </div>
    <div class="row mb-3 justify-content-center">
      <div class="col-md-6">
        <%= link_to "新規農場登録", new_farmer_farm_path, class: "btn btn-block text-light mb-2 btn-color" %>
      </div>
    </div>
    <div class="row mb-3 justify-content-center">
      <div class="col-md-6">
        <%= link_to "登録した農場一覧", farmer_customers_path(@farms), class: "btn btn-block text-light mb-2 btn-color" %>
      </div>
    </div>
 </div>

