<div class="container">
  <div class="row">
      <h3>退会手続き</h3>
  </div>

    <div>
        <div class="row mb-2 justify-content-center">
          <div class="col-md-6">
            <div class="text-center">
              <p>以下のご登録内容の退会手続きを致します。<br>
              退会を取り消すことができませんので、間違いがないかご確認ください。</p>
            </div>
          </div>
        </div>

        <div class="row mb-2 justify-content-center">
          <div class="col-md-6">
            <div class="text-center">
              <%= @customer.last_name %><%= @customer.first_name %><br>
              <%= @customer.email %>
            </div>
          </div>
        </div>

        <div class="row mb-3 justify-content-center">
          <div class="col-md-6">
            <div class="form-outline">
              <%= link_to "退会しない", farmer_customer_path(@customer), class: "btn btn-block text-light mb-4 btn-color" %>
            </div>
          </div>
        </div>

        <div class="row mb-3 justify-content-center">
          <div class="col-md-6">
            <div class="form-outline">
               <%= link_to "退会する", farmer_withdraw_path(@customer), method: :patch, "data-confirm" => "本当に退会しますか", class: "btn btn-block text-light mb-4 btn-destroy" %>
            </div>
          </div>
        </div>
    </div>
</div>