<!DOCTYPE html>
<html>
  <head>
    <title>Soulmate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="/">ソウルメイト</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <% if public_signed_in? %>
                  <li class="nav-item"><%= link_to "マイページ", customer_path(current_public), class: "nav-link text-light" %></li>
                  <li class="nav-item"><%= link_to "地域別検索", farmer_prefecture_path, class: "nav-link text-light" %></li>
                  <li class="nav-item"><%= link_to "農家一覧", farmer_farms_path, class: "nav-link text-light" %></li>
                  <li class="nav-item"><%= link_to "ログアウト", destroy_public_session_path, method: :delete, class: "nav-link text-light" %></li>
                <% elsif farmer_signed_in? %>
                  <li class="nav-item"><%= link_to "マイページ", farmer_customer_path(current_farmer), class: "nav-link text-light" %></li>
                  <li class="nav-item"><%= link_to "地域別検索", farmer_prefecture_path, class: "nav-link text-light" %></li>
                  <li class="nav-item"><%= link_to "農家一覧", farmer_farms_path, class: "nav-link text-light" %></li>
                  <li class="nav-item"><%= link_to "ログアウト", destroy_farmer_session_path, method: :delete, class: "nav-link text-light" %></li>
                <% else %>
                  <li class="nav-item"><%= link_to "地域別検索", farmer_prefecture_path, class: "nav-link text-light" %></li>
                  <li class="nav-item"><%= link_to "サイトについて", about_path, class: "nav-link text-light" %></li>
                  <li class="nav-item"><%= link_to "農家一覧", farmer_farms_path, class: "nav-link text-light" %></li>
                <% end %>
              </ul>
            <div class="search-form">
              <%= form_with url: search_path, method: :get, local: true do |f| %>
                <%= f.text_field :search, placeholder: "農家を検索", class: "form-control form-control-sm" %>
                <%= f.submit "検索", class: "btn btn-primary fas fa-search" %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>
    <footer class="py-3">
      <div class="container text-center ">
        Copyright © Soulmate. All Rights Reserved.
      </div>
    </footer>
  </body>
</html>
